@model IEnumerable<Lection_2.Models.User>

@{
	ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get">
	<div class="form-group mb-4">
		<input type="text" name="searchString" class="form-control" placeholder="Search by name..." value="@ViewData["CurrentFilter"]" />
	</div>
</form>


<h2>Список пользователей</h2>
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
	<tr>
		<th>Имя</th>
		<th>Возраст</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Age</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
				<a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
				<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
			</td>
		</tr>
	}
</table>